p {
    color: black;
    font size: 20
    }

h3 {
       color: #483D8B;
       }
h1 {
    color: #6A5ACD;
    }

h4 {
    color: #008080;
    }

#table {
        color: #008080;
        font size: 20
        }